.user-container {
    /* height: 100%; */
    width: 100%;
    background-image: url(../../../public/images/concert-bg.jpg);
    background-color: black;
    background-size: cover;
}

.user-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* height: 100%; */
    color: #ffffff;
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.user-div-title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-top: 40px;
    margin-top: 20px;
    color: #ffffff;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    flex-direction: 'column';
}

.custom-font {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.user-div {
    height: 1000px;
    width: 1000px;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 100px;
    padding: 40px;
}

.User-div-text {
    grid-template-columns: 1fr;
    grid: template rows 20fr;
    padding-top: 20px;
    color: #ffffff;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;
    flex-direction: 'column';
    text-align: left;
}

.user-picture {
    padding-right: 100px;
    width: 200px;
    height: 200px;
    border: 0.5px solid #ffffff;
    background-image: url('../../images/User.jpg');
    background-size: cover;
    background-position: 400px 0;
    border-radius: 50%;
}

.event-picture-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-top: 20px;
    color: #582727;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;
}

.event-date {
    padding-left: 50px;
    margin-top: -280px;
    color: #ffffff;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.event-location {
    padding-left: 50px;
    margin-top: -180px;
    color: #ffffff;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.user-button {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-radius: 10px;
    margin-bottom: 0px;
    opacity: 90%;
    margin-left: 500px;
    padding: 5px 200px;
    place-content: center;
    border: none;
    outline: none;
    position: relative;
    top: -60px;
}

.ticket-button input {
    background-color: #f4bd19;
    border: none;
    color: #301934;
    font-family: Inter;
    height: 100%;
    padding: 10px 50px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.ticket-button {
    display: grid;
    width: 400px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: #f4bd19;
    border-radius: 10px;
    margin-top: 100px;
    opacity: 90%;
    padding: 5px 50px;
    place-content: center;
    border: none;
    outline: none;
    position: relative;
    top: -60px;
}

.event-text-details {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    color: rgb(224, 224, 224);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.event-divider-line {
    width: 15%;
    height: 0.5px;
    background-color: grey;
    margin: 0px;
    margin-bottom: 20px;
}

.event-collapsable {
    display: grid;
    margin-top: 50px;
}