.registration-container {
    /* height: 100vh; */
    width: 100%;
    background-image: url(../../../public/images/concert-bg.jpg);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

.form-div .registration-input-icon {
    place-content: center;
    padding: 0 20px;
    grid-template-columns: 1fr auto;
    height: 50px;
    border-radius: 5px;
    background: #333;
    margin: 20px 0px;
    opacity: 60%;
}

.form-div .registration-input-icon input {
    color: white
}

#register-submit{
    background-color: #F4C430;
    margin-bottom: 8px;
    opacity: 90%;
    padding: 0px 0px;
}

#register-submit input {
    color: #301934;
    font-family: Inter;
    height: 100%;
    padding: 10px 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.registration-footer{
    width: 100%;
    height: 56px;
}

.error {
    width: 100%;
    align-content: center;
    height:30px;
    padding: 35px;
    align-self: center;
    color: red;
    background-color: lightyellow;
    border: 1px solid grey;
    margin-bottom: 5px;
}

.text-color {
    color: #999;
    font-family: Inter;
}

.gender-structure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: start;
}

.radio-structure {
    max-height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}