.event-container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    /* background-image: url('../../images/event-page-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;  */
    background-color: black;
}

.event-page-header {
    /* background-color: rgb(4, 198, 4); */
    width: 100%;
    height: 80px;
    display: grid;
}

.fa-calendar {
    color: white;
}

.event-section-header {
    background-color: #301934;
    width: calc(100% - 40px);
    /* Subtract 40px (20px on both sides) from the width */
    margin: 0 20px;
    /* Add 20px margin on both sides */
    height: 30px;
    padding: 0 20px;
    display: grid;
    align-items: center;
    color: white;

    /* Text */
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
}

.event-content {
    width: 100%;
    padding: 20px;
    display: grid;
    /* Use CSS grid */
    /* grid-template-columns: repeat(auto-fill, 275px); */
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    /* Flexible columns */
    /* gap: 0px; */
    gap: 20px;
}

.event-card {
    background-color: purple;
    width: 100px;
    height: 100px;
    margin: 10px;
}